@import './variables.css';

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--bg-main-color);
}

.main {
  width: var(--main-width);
  height: var(--main-height);
  background-color: var(--bg-card);
  border: 25px solid var(--border-color);
  padding: 25px 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: var(--card-width);
}

.card__box-header {
  display: flex;
}

.card__picture,
.card__text {
  flex-basis: 25%;
}

.card__picture {
  flex-grow: 1;
  flex-shrink: 1;
}

.card__picture>img {
  width: 60%;
  height: 85%;
}

.card__text {
  flex-grow: 3;
  margin: auto;
}

.card__box-dots {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid;
  padding-bottom: 15px;
  margin-top: 15px;
}

.card__navigation-dots {
  display: flex;
  align-items: flex-end;
  gap: 5px;
}

.card__dot {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: var(--bg-dots);
  border: none;
}

.card__dot--selected {
  background-color: black;
}

.card__name {
  font-weight: 400;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.card__position {
  font-size: 0.8rem;
}

.card__arrow-box {
  display: flex;
  gap: 45px;
}

button[class^="card__arrow"] {
  border: none;
  background-color: var(--bg-card);
  margin-top: 20px;
}

button[class^="card__arrow"]>img {
  width: 15px;
}

/* .card__dot:nth-child(2) {
  background-color: black;
} */

/* Animation */
.card__text,
.card__user-name {
  transition: opacity 0.5s ease;
  opacity: 1;
}

.card--hidden-left {
  opacity: 0;
}

.card--hidden-right {
  opacity: 0;
}

.card__picture img {
  transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 1;
  transform: scale(1);
}

.img-hidden {
  opacity: 0;
  transform: scale(0.2);
}